name: Docker Image CI
on:
  push:
    branches: [ master ]
  #pull_request:
  #  branches: [ master ]
env:
  IMAGE_NAME: eurides/base-php-fpm
  DOCKER_USER: ${{ secrets.DOCKER_USER }}
  DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build -f dockerfile --tag "$IMAGE_NAME:php-74$GITHUB_RUN_NUMBER" .
    - name: Push the Docker image
      run: docker login -u $DOCKER_USER -p $DOCKER_PASS && docker push "$IMAGE_NAME:php-74$GITHUB_RUN_NUMBER"
